<label>{{label}}</label>
<div class='editor'>
    {{input value=r class="color-channel-editor"}}
    {{input value=g class="color-channel-editor"}}
    {{input value=b class="color-channel-editor"}}
</div>

<div class='aux-editor'>
    <span>Hex</span>
    {{input value=hex }}
    <div class="color-chip" style={{styleString}}>&nbsp;</div>
</div>